*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  background-color: rgb(47, 47, 59);
  color: white;
  font-family: 'Times New Roman', Times, serif;
}

h1,
h2,
h3,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
li {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
