*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  background-color: rgb(47, 47, 59);
  color: white;
  font-family: 'Times New Roman', Times, serif;
  padding: 40px;
}

h1,
h2,
h3,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
li {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.search-form {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  padding: 10px;
  justify-content: center;
}

.photo-card {
  width: 200px;
  height: 220px;
  border: 1px dotted white;
  border-radius: 10px;
}

.photo-card img {
  border-radius: 10px;
}

/* .info {
}

.info-item {
} */

.load-more {
  display: block;
  margin: 20px auto;
  /* scale: 2; */
}

.visually-hidden {
  display: none;
}
